<section class="h-screen">
  <div class="h-full">
    <div
      class="g-6 flex h-full flex-wrap items-center justify-center lg:justify-between"
    >
      <div
        class="shrink-1 mb-12 grow-0 basis-auto md:mb-0 md:w-9/12 md:shrink-0 lg:w-6/12 xl:w-6/12"
      >
        <img src="../../../assets/images/shoppingcart.jpg" alt="Sample image" />
      </div>
      <div class="mb-12 md:mb-0 md:w-8/12 lg:w-5/12 xl:w-5/12">
        <form class="example-form">
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>User Name</mat-label>
            <input
              matInput
              placeholder="Enter your name"
              name="usename"
              [(ngModel)]="username"
            />
          </mat-form-field>
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Password</mat-label>
            <input
              matInput
              placeholder="Enter your password"
              value=""
              name="password"
              type="password"
              [(ngModel)]="password"
            />
          </mat-form-field>
          <button mat-raised-button color="primary" (click)="submit()">
            Submit
          </button>
          <span *ngIf="show"> <button mat-button color="accent"></button></span>
        </form>
      </div>
    </div>
  </div>
</section>
